{% extends "base.html" %}

{% load static %}

{% block content %} 
<div>
	<section id="cart_items">
		<div class="container">	
			{% if object.items.all.count >  0 %}
			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="image">Item</td>
							<td class="description"></td>
							<td class="price">Price</td>
							<td class="quantity">Quantity</td>
							<td class="total">Total</td>
							<td></td>
						</tr>
					</thead>
					<tbody>
						{% for order_item in object.items.all %}
						<tr>
							<td class="cart_product">
								<a href=""><img src="{% static 'images/cart/one.png' %}" alt=""></a>
							</td>
							<td class="cart_description">
								<h4><a href="">{{ order_item.item.title }}</a></h4>								
							</td>
							<td class="cart_price">
								<p>{{ order_item.item.price }} Ksh</p>
							</td>
							<td class="cart_quantity">
								<div class="cart_quantity_button">
									<a class="cart_quantity_up" href="{% url 'core:add-to-cart' order_item.item.slug %}"> + </a>
									<input class="cart_quantity_input" type="text" disabled name="quantity" value="{{ order_item.quantity }}" autocomplete="off" size="2">
									<a class="cart_quantity_down" href="{% url 'core:remove-single-item-from-cart' order_item.item.slug %}"> - </a>
								</div>
							</td>
							<td class="cart_total">
								<p class="cart_total_price">{{ order_item.get_total_item_price }} Ksh</p>
							</td>
							<td class="cart_delete">
								<a class="cart_quantity_delete" href="{% url 'core:remove-from-cart' order_item.item.slug %}"><i class="fa fa-times"></i></a>
							</td>
						</tr>
						{% endfor %}												
					
						<tr>
							<td colspan="4">&nbsp;</td>
							<td colspan="2">
								<table class="table table-condensed total-result">
									<tr>
										<td>Cart Sub Total</td>
										<td>{{ object.get_total }} Ksh</td>
									</tr>	
								</table>
							</td>
						</tr>
						<!-- <tr>
							<td colspan='5'>Your cart is empty</td>
						</tr> -->
						<tr>
							<td colspan="5">
								<a class='btn btn-warning float-right ml-2' href='/checkout/'>Proceed to checkout</a>
							<a class='btn btn-primary float-right' href='/'>Continue shopping</a>
							</td>
						</tr>
						<!-- <tr>
							<td colspan="4">&nbsp;</td>
							<td colspan="2">
								<table class="table table-condensed total-result">
									<tr>
										<td>
											<a class="btn btn-default update" href="">Continue Shopping</a>
										</td>
										<td>
											<a class="btn btn-default update" href="">Checkout</a>
										</td>
										
									</tr>													
								</table>
							</td>
						</tr>				 -->
					</tbody>
				</table>
			</div>
			<div class="row">
				<div class="col-sm-3">
				</div>
				<div class="col-sm-3">
					<a class="btn btn-lg check_out"  href="/">Continue Shopping</a>
				</div>
				<div class="col-sm-3">
					<a class="btn btn-lg check_out"  href="">Check Out</a>
				</div>
			</div>
			<br>
			{% else %}
			<h1>Nothing in your cart</h1>
			{% endif %}
		</div>
	</section> <!--/#cart_items-->

	<!-- {% if object.items.all.count >  0 %}
	<section id="do_action">
		<div class="container">
			<div class="heading">
				<h3>What would you like to do next?</h3>
				<p>Choose if you have a discount code or reward points you want to use or would like to estimate your delivery cost.</p>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="chose_area">
						<ul class="user_option">
							<li>
								<input type="checkbox">
								<label>Use Coupon Code</label>
							</li>
							<li>
								<input type="checkbox">
								<label>Use Gift Voucher</label>
							</li>
							<li>
								<input type="checkbox">
								<label>Estimate Shipping & Taxes</label>
							</li>
						</ul>
						<ul class="user_info">
							<li class="single_field">
								<label>Country:</label>
								<select>
									<option>United States</option>
									<option>Bangladesh</option>
									<option>UK</option>
									<option>India</option>
									<option>Pakistan</option>
									<option>Ucrane</option>
									<option>Canada</option>
									<option>Dubai</option>
								</select>
								
							</li>
							<li class="single_field">
								<label>Region / State:</label>
								<select>
									<option>Select</option>
									<option>Dhaka</option>
									<option>London</option>
									<option>Dillih</option>
									<option>Lahore</option>
									<option>Alaska</option>
									<option>Canada</option>
									<option>Dubai</option>
								</select>
							
							</li>
							<li class="single_field zip-field">
								<label>Zip Code:</label>
								<input type="text">
							</li>
						</ul>
						<a class="btn btn-default update" href="">Get Quotes</a>
						<a class="btn btn-default check_out" href="">Continue</a>
					</div>
			</div>
				<div class="col-sm-6">
					<div class="total_area">
						<ul>
							{% if object.get_total %}
							<li>Cart Sub Total <span>{{ object.get_total }} Ksh</span></li>
							{% endif %}
							<li>Coupon <span>120 Ksh</span></li>							
							<li>Total <span>{{ object.get_total }} Ksh</span></li>
						</ul>
							<a class="btn btn-default update" href="">Update</a>
							<a class="btn btn-default check_out" href="">Check Out</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	{% endif %} -->
</div>

{% endblock content %} 